*, *::before, *::after {
    box-sizing: border-box;
}

.calculator {
    border: 1px solid gray;
    padding: 30px;
    width: 334px;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    background-color:lightgray;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.4);
}

.calculator-btn {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(60px, auto) repeat(4, 60px);
    grid-gap: 10px;
}

button {
    font-size: 18pt;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.btnEqu {
    grid-column: 3 / -1;
}

.display {
    border: 1px solid #000;
    border-radius: 2px;
    height: 60px;
    width: 270px;
    margin-bottom: 30px;
    text-align: right;
    padding: 12px 5px;
    background-color: #f5f5f5;
    font-size: 24pt;
    font-family:sans-serif;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
}

.btnOperator,
.btnEqu {
    background-color: dimgrey;
    color: #fff;
    border-radius: 4px;
}

.btnOperator:hover,
.btnEqu:hover {
    background-color: rgb(94, 94, 94);
    cursor: pointer;
}

.btnClear {
    background-color: chocolate;
    color: #fff;
    border-radius: 4px;
}

.btnClear:hover {
    background-color: rgb(197, 96, 24);
    cursor: pointer;
}

/* can not use yet */
.btnDel,
.btnOpe {
    text-decoration: line-through;
    color:rgb(190, 190, 190)
}