.square {
    background-color:#fff;
    border:1px solid #eee;
}

.square:hover {
    background-color: #ccc;
}

.container {
    width: 640px;
    height: 640px;
    border:1px solid #eee;
}

button {
    cursor: pointer;
}